# <span style="color:blue"> 이토록 쉬운 통계 & R </span>

<img src="../image/cover.png" width="200" height="400" align="left">  임경덕 지음

## PART 4 데이터 분석 도구, R

## 90% 순서대로 살펴보는 BR31-1 (31 일차)

   * 데이타프로젝트 (http://dataproject.xyz) 또는 (http://cafe.naver.com/dataartproject) 에 미리 저장된 스크립트를 다운 받을 수 있습니다.
   * 스크립트를 활용하면 직접 명령어를 입력하지 않고 저장된 명령어들을 실행할 수 있습니다.
   * 지금 설치된 R 버젼은 3.4.3 입니다. 제목 BR31 은 Basic R 31 로 3.1 버젼입니다. 그러나 큰 차이는 없을 것 같습니다.

### Comment 문장

In [30]:
# 로 시작하면 comment 입니다.

### **사칙 연산자**

In [1]:
1+2

[1] 3

In [2]:
1-2

[1] -1

In [3]:
4*2

[1] 8

In [4]:
4/2

[1] 2

In [5]:
(1+2)*4/2

[1] 6

### **제곱, 몫과 나머지 연산자**

In [6]:
2^4

[1] 16

In [7]:
16^(1/4)

[1] 2

In [8]:
# %% 는 나머지 이고 %/% 는 몫 입니다.
16%/%3

[1] 5

In [9]:
16%%3

[1] 1

### : 으로 정수 수열 만들기

In [10]:
2:10

[1]  2  3  4  5  6  7  8  9 10

In [11]:
1:5*2

[1]  2  4  6  8 10

In [12]:
# %% 는 모듈라 연산자 입니다.

1:10%%3

 [1] 1 2 0 1 2 0 1 2 0 1

### seq() 함수로 수열 만들기

In [13]:
seq(from=1,to=15, by=5)

[1]  1  6 11

In [14]:
#  seq() 함수에 속성 이름을 생략해도 됩니다.
seq(1,15,5)

[1]  1  6 11

In [15]:
# by 대신에 length 를 넣으면 수열의 길이가 됩니다. 숫자 간격을 길이 만큼 균등 배분합니다.
seq(1,15, length=5)

[1]  1.0  4.5  8.0 11.5 15.0

In [16]:
seq(1,15, length=3)

[1]  1  8 15

### "," 로 문자 입력하기

In [17]:
"A"

[1] "A"

In [19]:
"우리나라"

[1] "우리나라"

In [20]:
A

ERROR: Error in eval(expr, envir, enclos): object 'A' not found

### c() 함수로 값 나열하기 -- 벡터 라고 합니다.

In [21]:
c("A","B","C")

[1] "A" "B" "C"

In [25]:
c('A','B','C')

[1] "A" "B" "C"

In [22]:
c(2017,2018,2019)

[1] 2017 2018 2019

### rep() 함수로 값 반복하기

In [31]:
# 처음 변수: 반복할 문자열, 두번째 변수: 반복할 갯수
# 10 을 3 번 반복하시오

rep(10,3)

[1] 10 10 10

In [24]:
rep(20,5)

[1] 20 20 20 20 20

In [32]:
# 벡터 값 c 을 4번 반복하시오

rep(c('A','B','C'),4)

 [1] "A" "B" "C" "A" "B" "C" "A" "B" "C" "A" "B" "C"

In [33]:
# 뒤 반복 할 갯수 변수가 없으면 1 로 인정합니다.
rep(10)

[1] 10

In [34]:
# 반복할 갯수를 벡터 열로 정의 할 수 있습니다.
rep(c('A','B'), c(3,2))

# 이 경우는 A 를 3번 반복, B 를 2번 반복 하라는 의미 입니다.

[1] "A" "A" "A" "B" "B"

### paste() 함수로 문자 붙히기

In [35]:
paste('A','+', 1, "등급")

[1] "A + 1 등급"

In [37]:
# 앞에 2학년에 뒤 반을 concat 하기, 각 반을 벡터로 만들어서 concat 합니다. 분리자 는 - 로 정합니다.
paste("2학년",c("1반","2반","3반"), sep='-')

[1] "2학년-1반" "2학년-2반" "2학년-3반"

In [38]:
# 이번에 반대로 앞에 1 에서 4 까지 벡터를 뒤에 각각 학년을 붙힙니다. 분리자는 없는 것으로 합니다.
paste(1:4, "학년", sep="")

[1] "1학년" "2학년" "3학년" "4학년"

In [39]:
# 같은 것을 sep 가 없을 경우
paste(1:4, "학년")

[1] "1 학년" "2 학년" "3 학년" "4 학년"