# <span style="color:blue"> 이토록 쉬운 통계 & R </span>

<img src="../image/cover.png" width="200" height="400" align="left">  임경덕 지음

## PART 4 데이터 분석 도구, R

## 90% 순서대로 살펴보는 BR31-5 (35일차)

   * 데이타프로젝트 (http://dataproject.xyz) 또는 (http://cafe.naver.com/dataartproject) 에 미리 저장된 스크립트를 다운 받을 수 있습니다.
   * 스크립트를 활용하면 직접 명령어를 입력하지 않고 저장된 명령어들을 실행할 수 있습니다.
   * 지금 설치된 R 버젼은 3.4.3 입니다. 제목 BR31 은 Basic R 31 로 3.1 버젼입니다. 그러나 큰 차이는 없을 것 같습니다.
   * page 278 level 함수로 범주형 변수의 수준확인하고 바꾸기 계속
   * Gender_age.csv 데이타로 계속 복습및 진행

### 데이터 파일은 dataartproject.xyz 에 있습니다.

## 복습

In [1]:
demo = read.csv("Practice/data/gender_age.csv")

In [2]:
demo

  Gender Age
1 1      30
2 2      20
3 1      20
4 2      20
5 1      30
6 2      30

In [3]:
# 데이터의 구조를 파악합니다.
str(demo)

'data.frame':	6 obs. of  2 variables:
 $ Gender: int  1 2 1 2 1 2
 $ Age   : int  30 20 20 20 30 30

   * Gender 를 숫자로 인식하고 있습니다. 이것을 범주형 변수로 인식하게 하여야 합니다.

In [4]:
demo$Gender

[1] 1 2 1 2 1 2

In [5]:
# 범주형 변수로 인식
factor(demo$Gender)

[1] 1 2 1 2 1 2
Levels: 1 2

In [6]:
str(factor(demo$Gender))

 Factor w/ 2 levels "1","2": 1 2 1 2 1 2

### $ 를 활용한 변수 수정과 추가하기

In [7]:
# Gender 를 변수형 변수로 인식
demo$Gender = factor(demo$Gender)

In [8]:
str(demo)

'data.frame':	6 obs. of  2 variables:
 $ Gender: Factor w/ 2 levels "1","2": 1 2 1 2 1 2
 $ Age   : int  30 20 20 20 30 30

In [9]:
# 데이터 프레임에 변수 추가 하기
paste0(demo$Gender,"_",demo$Age,"대")

[1] "1_30대" "2_20대" "1_20대" "2_20대" "1_30대" "2_30대"

In [10]:
# 이것을 새로운 변수 "Group" 로 추가합니다.
demo$Group = paste0(demo$Gender,"_",demo$Age,"대")

In [11]:
# demo 의 구조를 보면
str(demo)

'data.frame':	6 obs. of  3 variables:
 $ Gender: Factor w/ 2 levels "1","2": 1 2 1 2 1 2
 $ Age   : int  30 20 20 20 30 30
 $ Group : chr  "1_30대" "2_20대" "1_20대" "2_20대" ...

### 계속 진행

### levels() 함수로 범주형 변수 수준확인 및 변경

In [12]:
levels(demo$Gender)

[1] "1" "2"

In [14]:
# 변수형 변수 수준 변경
levels(demo$Gender) = c("1_남자", "2_여자")

In [15]:
demo

  Gender Age Group
1 1_남자 30  1_30대
2 2_여자 20  2_20대
3 1_남자 20  1_20대
4 2_여자 20  2_20대
5 1_남자 30  1_30대
6 2_여자 30  2_30대

In [17]:
str(demo$Gender)

 Factor w/ 2 levels "1_남자","2_여자": 1 2 1 2 1 2

In [19]:
# 실제로 Gender 변수에는 1,2 갖은 숫자로만 저장 되어 있음 따라서 as.numeric 함수로 보면
str(as.numeric(demo$Gender))

 num [1:6] 1 2 1 2 1 2

### which() 함수로 조건과 일치하는 관측치 찾기

In [20]:
which(demo$Age == 30)

[1] 1 5 6

In [26]:
which(demo$Age == 30 & demo$Gender == "1_남자")

[1] 1 5

### [] 와 논리 연산 으로 관측치 선택하기

In [27]:
demo[demo$Age == 30 & demo$Gender == "1_남자"]

ERROR: Error in `[.data.frame`(demo, demo$Age == 30 & demo$Gender == "1_남자"): undefined columns selected

In [28]:
demo[demo$Age == 30 & demo$Gender == "1_남자",]

  Gender Age Group
1 1_남자 30  1_30대
5 1_남자 30  1_30대